html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

.row-container {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
}

.canva.square {
  background-color: antiquewhite;
}

.canva.square.hover {
  background-color: rgb(247, 218, 181);
}

button.user-input {
  margin-bottom: 20px;
}
