html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

div.square {
  background-color: antiquewhite;
}

div.square.hover {
  background-color: rgb(247, 218, 181);
}

button.user-input {
  margin-bottom: 20px;
}