html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 245, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px;
}


h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.container-behavior {
  display: flex;
  gap: 50px;
}

.container-get-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h2.input-header,
h2.options-header {
  font-size: 20px;
}

h2.input-header {
  margin-right: 15px;
}

h2.options-header {
  margin-bottom: 8px;
}

input.square-amount {
  border: 2px solid rgb(182, 158, 126);
  border-radius: 5px;
  background-color: rgb(255, 254, 253);
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

.row-container {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
}

.canva.square {
  background-color: antiquewhite;
}

.canva.square.hover {
  background-color: rgb(247, 218, 181);
}

button.send-input {
  background-color: rgb(237, 192, 134);
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
}

input.square-amount,
button.send-input {
  height: 30px;
}

button.send-input:hover {
  background-color: rgb(253, 193, 114);
}

button.send-input:active {
  background-color: rgb(203, 173, 119);
}

.input-container {
  gap: 10px;
  height: 60px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

div.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}